//
//  Colors
//  ---------------------------------------------

$color--grey: #e8e9ed;
$color--regent-grey: #8d98a7;
$color--alabaster: #f8f8f8;
$color--fuscous-grey: #5e5c4e;
$color--avocado: #9b9d61;
$color--merlin: #393832;
$color--nandor: #4e514e;
$color--dove-grey: #666666;
$color--bud: #a5aba0;
$color--moon-mist: #dbddd0;
$color--wild-sand: #f6f6f6;
$color--white: #fff;
$color--grey-light: #c3c3c3;
$color--grey-lightest: #e7e7e7;
$color--grey-lighter: #d6d6d6;
$color--gull-grey: #98a4b0;
$color--shady-lady: #aba6aa;
$color--emperor: #575353;
$color--dusty-gray: #979797;
$color--alto: #e0e0e0;
$color--mercury: #e5e5e5;
$color--sandstone: #787069;
$color--heavy-metal: #323432;

