//
//  General variables
//  ---------------------------------------------

//
//  Global gutters
//  ---------------------------------------------

$mobile-page-gutter: 1rem;
$desktop-page-gutter: 2rem;

//
//  Screen dimensions
//  ---------------------------------------------

$min-screen-width: $screen--xxs;
$max-screen-width: 112.5rem;

//
//  Border radius
//  ---------------------------------------------

$border-radius: 0.25rem;
